.accounts {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 50px 25px;
}

.acc {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px;
}

.acc h1 {
    text-align: center;
    font-size: 37px;
}

.acc_list {
    flex: 4;
    background-color: #131313;
    border: 2px solid gray;
    margin: 20px;
    height: 100%;
    border-radius: 20px;
}

.acc_list h2 {
    background-color: #131313;
    text-align: center;
    margin: 40px 0 40px 0;
}