.home {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 15vh;
}

#mainlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

#mainlogo img {
    height: 80%;
    width: auto;
}

.intro {
    text-align: center;
    padding: 5px;
    flex: 2.2;
    border: 2px solid rgba(255, 255, 255, 0.334);
    background-color: #131313;
    height: 87%;
    margin-right: 45px;
    border-radius: 20px;
}

.intro h1 {
    background-color: #131313;
}

.intro h2 {
    background-color: #131313;
}

.intro p {
    background-color: #131313;
}

.intro p {
    text-align: justify;
    padding: 0 40px 20px 40px;
    font-size: larger;
    line-height: 1.3;
}

#intro_green {
    background-color: #131313;
}